@media (min-height: 500px) {
   .footer {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
   }
}

select {
  -webkit-appearance: none;
  appearance: none;
  border: 0px;
  background-color: white;
}

select option:first-child{
  color: green;
}

html, body {
  height: 100%;
  margin: 0px;
}

html {
  box-sizing: border-box;
  touch-action: manipulation;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 0px;
  padding-bottom: 4rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

*:focus { outline: none; }

::-webkit-input-placeholder {
   font-size: 16px;
}

:-moz-placeholder { /* Firefox 18- */
   font-size: 16px;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-size: 16px;
}

:-ms-input-placeholder {  
   font-size: 16px;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nowrap { white-space:nowrap; }

.flexhelp {
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-flow: row nowrap;
   flex-flow: row nowrap;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-align-items: center;
   align-items: center;
   padding-bottom: .5em;
}

.flexrows {
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: space-between;
   justify-content: space-between;
}

.flexcols {
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-justify-content: space-between;
   justify-content: space-between;
}

.centerall {
   display: flex;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-align-content: center;
   align-content: center;
   -webkit-align-items: center;
   align-items: center;
}

.flexcenter {
   display: flex;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-align-items: center;
   align-items: center;
}

.flexjustifystart {
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
}

.flexjustifyend {
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
}

/* Timers */

/* Vertical Entry */
#vwhite {
   width: 100%;
   margin: 0;
   display: none;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   -webkit-justify-content: center;
   justify-content: center;
}

.v_red {
   color: rgb(221, 56, 48);
}

.container {
   width: 0;
   padding: 0;
}

.spacebefore {
   margin-top: 1em;
}

.points { background-color: #D1FBFB; }

.btn {
	border: 1px;
   border-style: solid;
   background: transparent;
   border-radius: 5px;
   font-size: 12px;
   text-align: center;
   width: 28%;
   height: 15%;
   min-height: 6vh;
   margin: 2%;
}
.tall { 
   min-height: 8vh;
}
.small { height: 60%; }

.entrysection {
   margin: 0;
   width: 100%;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   -webkit-justify-content: center;
   justify-content: center;
}

.actions {
   width: 85%;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
}

.entry { 
   margin: 0;
   padding: 0;
   width: 90%; 
   max-width: 500px;
   min-width: 280px;
}

.player { width: 60%; }

.playername {
   border: none;
   width: 100%;
   text-align: left;
}
.player_entry {
   border: none;
   width: 100%;
   text-align: left;
}

.t_entry {
   border: none;
   width: 100%;
   height: 100%;
   text-align: left;
   font-size: 15px;
}

.player_score {
   width: 100%;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   -webkit-justify-content: space-between;
   justify-content: space-between;
}

.scores {
   width: 40%;
   display: flex;
   display: -webkit-flex;
   -webkit-justify-content: center;
   justify-content: center;
}

.set_score {
   opacity: 1 !important;
   width: 25%;
   border: 1px; 
   border-style: solid;
   border-left-style: transparent;
   border-left-width: 0px;
   background: #FFFFFF;
   text-align: center;
   font-size: 15px;
}

.game_score {
   opacity: 1 !important;
   width: 25%;
   border: 1px; 
   border-style: solid;
   text-align: center;
   font-size: 12px;
}

.position_display {
   opacity: 1 !important;
   text-align: right;
   border: none;
   font-size: 15px;
   background: white;
}

.footer {
   width: 100%;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: center;
   justify-content: center;
}

.toolbar {
   height: 10%;
   width: 100%;
   max-width: 500px;
   display: none;
   padding: 1rem 0rem 1rem 0rem;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: space-around;
   justify-content: space-around;
}

.headline {
   margin-top: 1em;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: space-between;
   justify-content: space-between;
   border-bottom-style: solid;
   border-bottom-width: 1px;
   margin-bottom: .5em;
}

.blur {
   border: none;
   width: 0px;
   height: 0px;
}

/* Settings */
#settings {
   margin: 0;
   padding: 1em;
   display: none;
   height: 100vh;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-justify-content: space-between;
   justify-content: space-between;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: stretch;
   align-content: stretch;
   font-family: "Helvetica Neue", Arial, sans-serif;
}

.settings_options {
   width: 100%;
}

.settings_option {
   width: 100%;
   max-width: 400px;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: space-between;
   justify-content: space-between;
}

.settings_done {
   width: 100%;
   height: 50%;
   display: flex;
   -webkit-flex-direction: column-reverse;
   flex-direction: column-reverse;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: stretch;
   align-content: stretch;
   font-family: "Helvetica Neue", Arial, sans-serif;
}

.s_menuitem {
   height: 20%;
   width: 90%;
   border: 1px;
   margin: 2px 0px 0px 0px;
   font-size: 4.5vw;
   border-radius: 5px;
   border-color: black;
   border-style: solid;
   background-color: white;
}


/* Menu */

#pulse {
   display: none;
}

.helpintro {
   font-size: 2em;
   font-weight: bold;
   padding: .5em;
}

.quicktitle {
   font-size: larger;
   font-weight: bold;
   padding-left: .5em;
}

.quickitem {
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   -webkit-justify-content: center;
   justify-content: center;
   padding-bottom: .5em;
}

.helpitem {
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   -webkit-justify-content: center;
   justify-content: center;
   padding-bottom: .5em;
}

#mainmenu {
   margin: 0;
   width: 100%;
   height: 100%;
   display: none;
}

.mm {
   position: absolute;
   top: 6vh;
   left: 0;
   width: 100vw;
   height: 94vh;
}

.spacebetween {
   -webkit-justify-content: space-between;
   justify-content: space-between;
}

#main_menu {
   margin: 0;
   padding: 1em;
   display: flex;
   height: 80%;
   width: 100vw;
   -webkit-flex-direction: column-reverse;
   flex-direction: column-reverse;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: stretch;
   align-content: stretch;
   font-family: "Helvetica Neue", Arial, sans-serif;
}

.m_menuitem {
   height: 10vh;
   width: 90vw;
   border: 1px;
   margin: 2px 0px 0px 0px;
   font-size: 1.5em;
   border-radius: 5px;
   border-color: black;
   border-style: solid;
   background-color: white;
}

.reset {
   height: 2em;
   width: 50vw;
   border: 1px;
   margin: 2px 0px 0px 0px;
   font-size: 1.5em;
   border-radius: 5px;
   border-color: black;
   border-style: solid;
   background-color: white;
}

/* match details */
#matchdeets {
   display: none;
   z-index: 1500;
   position: fixed;
   left: 0;
   top: 0;
   width: 100vw;
   height: 100vh;
   background-color: rgb(0,0,0);
   background-color: rgba(0,0,0,0.4);
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-align-items: stretch;
   align-items: stretch;
   -webkit-align-content: stretch;
   align-content: stretch;
   font-family: "Helvetica Neue", Arial, sans-serif;
}

.MDselection { font-size: 14px; }
.md_header { 
   font-size: 1.5em; 
}

.md_detail {
   width: 100%;
   padding: .5em;
   background-color: white;
}

.md_row {
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
    -webkit-justify-content: flex-start;
    align-items: flex-start;
   padding: 0px 0px 1px 1px;
   font-size: 15px;
}

.md_label { 
   float: left;
   width: 5em; 
   font-weight: bold;
   text-align: left;
}

.md_value { width: 80%; }
#md_format { float: left; }

.md_player {
   width: 100%;
   padding: .5em;
   background-color: white;
}

.md_event {
   width: 100%;
   padding: .5em;
   background-color: white;
}

.md_done {
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-align-items: center;
   align-items: center;
   font-family: "Helvetica Neue", Arial, sans-serif;
}

/* edit point */
#editpoint {
   display: none;
   z-index: 1500;
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgb(0,0,0);
   background-color: rgba(0,0,0,0.4);
}

.ep_header { 
   font-size: 1.5em;
}

.ep_limit_modal {
   max-width: 600px;
}

/* edit player */
#editplayer {
   display: none;
   z-index: 1500;
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgb(0,0,0);
   background-color: rgba(0,0,0,0.4);
}

.ep_player {
   width: 100%;
   padding: 1em 1em 1em 1em;
   background-color: white;
}

.ep_playername {
   border: none;
   width: 100%;
   text-align: left;
   font-size: 1.5em;
}

.ep_row {
   width: 100%;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-align-items: left;
   align-items: left;
   -webkit-align-content: left;
   align-content: left;
   padding: .5em;
   font-size: 1em;
}

.ep_actions {
   width: 100%;
   display: flex;
   -webkit-flex-direction: row-reverse;
   flex-direction: row-reverse;
   padding: .5em;
   font-size: 1em;
}

.ep_item {
   width: 50%;
   text-align: left;
   font-weight: bold;
}

#ep_sgp {
   font-weight: bold;
}

.ep_select {
   border: none;
   font-size: inherit;
}

#player_rank { width: 90%; }

.ep_action {
   width: 30%;
   height: 1.5em;
   max-width: 100px;
   margin-left: 1%;
   margin-bottom: 1em;
   border: 1px;
   font-size: 1em;
   border-radius: 5px;
   border-color: black;
   border-style: solid;
   background-color: white;
}


/* match formats */
#matchformats {
   margin: 0;
   padding: 0;
   display: none;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-align-items: stretch;
   align-items: stretch;
   -webkit-align-content: stretch;
   align-content: stretch;
   font-family: "Helvetica Neue", Arial, sans-serif;
}

.mf_format {
   width: 100%;
   padding: 1em 1em 1em 1em;
   background-color: white;
   border-width: 0px 0px 1px 0px;
   border-color: black;
   border-style: solid;
}

.mf_name {
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
}

.mf_description {
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   font-size: 12px;
}

/* point history */

#pointhistory {
   display: none;
}

.fixedmenu {
   position: absolute;
   top: 0;
   left: 0;
   width: 100vw;
   height: 6vh;
   color: white;
   padding-left: 10px;
   font-size: 3vh;
   background-color: black;
   display: flex;
   -webkit-align-items: center;
   align-items: center;
}

.fixedheader {
   position: absolute;
   top: 6%;
   left: 0;
   width: 100%;
   height: 4%;
   color: white;
   padding-left: 10px;
   font-size: 2vh;
   background-color: #2980B9;
   display: flex;
   -webkit-align-items: center;
   align-items: center;
}

.fm_header {
   width: 60%;
   height: 50%;
}

.fm_action {
   width: 10%;
   height: 100%;
}

.menu_icon {
   float: right;
}

.fixedcontent {
   position: absolute;
   top: 10%;
   left: 0;
   width: 100%;
   height: 90%;
   overflow-y: scroll;
   overflow-x: hidden;
}

#ph_frame {
   margin: 0;
   padding: 0;
   width: 100%;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-align-items: stretch;
   align-items: stretch;
   -webkit-align-content: stretch;
   align-content: stretch;
   font-family: "Helvetica Neue", Arial, sans-serif;
}

.ph_fish {
   width: 2em;
   height: 0;
   padding-bottom: 2em;
   background-image: url("../icons/sprite.png");
   background-size: 100%;
}

.ph_game {
   width: 100%;
   background-color: #EAF2F8;
}

.ph_episode {
   width: 100%;
}

.ph_point_odd {
   width: 100%;
   height: 100%;
}

.ph_point_even {
   width: 100%;
   height: 100%;
   background-color: #F7F9F9;
}

.ph_margin {
   width: 100%;
   height: 100%;
   margin-top: 10px;
   margin-bottom: 5px;
}

.ph_won { color: green; }
.ph_lost { color: red; }

.ph_result {
   width: 70%;
   height: 50%;
   margin-left: 5px;
}

.ph_score {
   width: 20%;
   height: 50%;
   text-align: center;
}

.ph_server {
   width: 70%;
   font-size: 1.2em;
   margin-left: 5px;
}

.ph_action {
   width: 20%;
   height: 50%;
}

.ph_rally {
   width: 20%;
   height: 50%;
   text-align: center;
}

/* match archive */
.view_archive { display: none; }

.c2c {
   width: 6vw;
   height: 6vw;
   display: inline-block;
   border: none;
   background-color: white;
   padding: 0;
   margin: 0;
   vertical-align: top;
}

.export_action {
   width: 6vw;
   height: 6vw;
}

#matcharchive {
   margin: 0;
   padding: 0;
   display: none;
   /* height: 100vh; */
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-align-items: stretch;
   align-items: stretch;
   -webkit-align-content: stretch;
   align-content: stretch;
   font-family: "Helvetica Neue", Arial, sans-serif;
}

.mh_swipe {
   display: flex;
   -webkit-align-items: stretch;
   align-items: stretch;
   -webkit-align-content: stretch;
   align-content: stretch;
   border-width: 0px 0px 1px 0px;
   border-color: black;
   border-style: solid;
}

.mh_match {
   width: 100%;
   padding: 1em 1em 1em 1em;
   background-color: white;
}

.mh_fullheight {
   height: inherit;
}

.mh_trash {
   width: 15%;
   padding: 1em 1em 1em 1em;
   background-color: #f44242;
   color: white;
}

.mh_export {
   width: 15%;
   padding: 1em 1em 1em 1em;
   background-color: #424ef4;
   color: white;
}

.mh_action {
   width: 6vw;
   height: 6vw;
}

.mh_players {
   font-weight: bold;
}

.mh_format { 
   padding-left: 1em; 
   color: green;
}

.mh_score {
   color: blue;
}

.mh_details {
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
}

/* vertical skin */
#vblack {
   width: 100%;
   height: 100%;
   margin: 0;
   display: none;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: black;
}

.vs_status {
   height: 6%;
   width: 100%;
   background-color: black;
}

.vs_status_message {
   width: 100%;
   height: 100%;
   color: #09D806;
   font-size: 7vw;
   background-color: black;
}

.vs_players {
   width: 100%;
   height: 15%;
   background-color: black;
}

.vs_swap {
   width: 10%;
}

.vs_player {
   color: white;
   width: 45%;
   text-align: center;
   font-size: 5vw;
   background-color: black;
}

.vs_center {
   height: 35%;
   width: 100%;
   background-color: black;
}

.vs_components {
   height: 100%;
   width: 35%;
   color: #09D806;
   font-size: 8vw;
   background-color: black;
}

.vs_label, .vs_value {
   height: 30%;
}

.value_border {
   border-style: solid;
   border-width: 1px;
   border-color: green;
}

.vs_player_score {
   width: 15%;
   height: 100%;
   color: #09D806;
   font-size: 8vw;
   background-color: black;
}

.vs_filler {
   height: 100%;
   width: 15%;
   background-color: black;
}

.vs_menuaction {
   height: 90%;
   width: 20%;
   background-color: black;
   -webkit-align-items: center;
   align-items: center;
}

.vs_menubutton {
   height: 25%;
   width: 90%;
   padding: 0px;
   color: #4BA1F6;
   border-radius: 5px;
   background-color: #4A4848;
   border-top-style: solid;
   border-top-width: 1px;
   border-top-color: black;
}

.vs_entry {
   height: 40%;
   width: 100%;
   background-color: black;
}

.vs_player_actions {
   width: 50%;
   height: 100%;
   background-color: black;
}

.vs_action_area {
   width: 100%;
   height: 100%;
   background-color: black;
}

.vs_action_buttons {
   width: 40%;
   height: 100%;
   background-color: black;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-justify-content: space-around;
   justify-content: space-around;
}

.vs_action_button {
   width: 90%;
   height: 30%;
   color: white;
   text-align: center;
   border-radius: 5px;
   background-color: #4A4848;
   font-size: 5vw;
}

.vs_mode_buttons {
   width: 60%;
   height: 100%;
   background-color: black;
}

.vs_mode_action {
   height: 30%;
   width: 90%;
}

.vs_action_icon {
   width: 6vh;
   height: 6vh;
}

.vs_mode_button {
   width: 90%;
   height: 60%;
   color: white;
   font-size: 8vw;
   text-align: center;
   border-radius: 5px;
   background-color: #4A4848;
}

.vs_points {
   height: 6%;
   width: 100%;
   background-color: black;
}

.vs_point {
   width: 50%;
   height: 100%;
   background-color: black;
}

.vs_point_button {
   width: 97%;
   height: 90%;
   color: white;
   border-radius: 5px;
   background-color: #4A4848;
   font-size: 7vw;
}

.vs_rally {
   height: 5rem;
}

.vs_rallybar {
   height: 100%;
   width: 100%;
   color: white;
   color: #4BA1F6;
   background-color: #4A4848;
   font-size: 8vw;
}

/* Horizontal Entry */
#hblack {
   margin: 0;
   padding: 0;
   display: none;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-justify-content: space-between;
   justify-content: space-between;
   font-family: "Helvetica Neue", Arial, sans-serif;
   background-color: black;
}

#h_scoreboard {
   width: 100vw;
   height: 22vh;
}

#h_playernames {
   width: 47%;
   height: 100%;
}

.h_swap {
   width: 6%;
}

.h_playername {
   padding: .5em;
   width: 100%;
   height: 50%;
   font-size: 3vw;
   color: white;
   background-color: black;
}

#h_scores {
   width: 47%;
   height: 100%;
   background-color: black;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: center;
   justify-content: center;
}

.h_setscore {
   height: 100%;
   width: 15%;
}

.h_score {
   height: 50%;
   width: 100%;
   background-color: black;
   font-size: 4vw;
   color: #09D806;
}

#h_timer {
   width: 100vw;
   height: 13vh;
   background-color: blue;
}

.h_playerside {
   width: 40%;
   height: 100%;
   background-color: #4A4848;
   display: flex;
   -webkit-align-items: center;
   align-items: center;
}

#h_playerleft {
   padding: .5em;
   font-size: 3vw;
   text-align: left;
   color: white;
}

#h_playerright {
   padding: .5em;
   font-size: 3vw;
   text-align: right;
   color: white;
}

.h_datetime {
   width: 10%;
   height: 100%;
   background-color: #4A4848;
}

#h_entry {
   width: 100vw;
   height: 55vh;
   background-color: black;
}

#h_left {
   width: 15%;
   height: 100%;
}

#h_center {
   width: 70%;
   height: 100%;
   background-color: green;
}

#h_extras {
   width: 100%;
   height: 25%;
   background-color: black;
}

#h_points {
   border: 1px;
   border-color: black;
   border-style: solid;
   width: 100%;
   height: 75%;
   background-color: black;
   font-family:'digital-clock-font';
}

.h_point {
   width: 50%;
   height: 100%;
   font-size: 15vw;
   color: white;
   background-color: #4A4848;
}

.h_borderleft { 
   border-top: 0px;
   border-bottom: 0px;
   border-left: 1px;
   border-right: 0px;
   border-color: black;
   border-style: solid;
}
.h_borderright {
   border-top: 0px;
   border-bottom: 0px;
   border-left: 0px;
   border-right: 1px;
   border-color: black;
   border-style: solid;
}

#h_right {
   width: 15%;
   height: 100%;
}

.h_message {
   width: 50%;
   height: 100%;
   border: 1px;
   background-color: black;
}

.h_messagetext {
   font-size: 3vw;
   color: #09D806;
}

.h_serviceaction {
   width: 25%;
   height: 100%;
   border: 1px;
   border-color: black;
   border-style: solid;
   background-color: #4A4848;
}

.h_action {
   border-top: 1px;
   border-bottom: 1px;
   border-left: 0px;
   border-right: 0px;
   border-color: black;
   border-style: solid;
   width: 100%;
   height: 25%;
   background-color: #4A4848;
}

.h_button {
   width: 90%;
   height: 100%;
   font-size: 2.5vw;
   text-align: center;
   display: flex;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-align-items: center;
   align-items: center;
}

#h_menu {
   width: 100vw;
   height: 10vh;
   background-color: #4A4848;
}

.h_menuitem {
   border: 1px;
   border-color: black;
   border-style: solid;
   width: 12.5%;
   height: 100%;
   color: white;
   background-color: #4A4848;
}

.h_menuwide {
   border: 1px;
   border-color: black;
   border-style: solid;
   width: 25%;
   height: 100%;
   color: white;
   background-color: #4A4848;
}

/* STATS SCREEN */

#statsscreen {
   display: none;
   width: 100%;
   height: 100%;
}

.s_menu {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 6%;
   color: white;
   padding-left: 10px;
   font-size: 3vh;
   background-color: black;
   display: flex;
   -webkit-align-items: center;
   align-items: center;
}

.s_view {
   position: absolute;
   top: 6%;
   left: 0;
   width: 100%;
   height: 6%;
   color: white;
   padding-left: 10px;
   font-size: 3vh;
   background-color: #85929E;
   display: flex;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: space-around;
   justify-content: space-around;
}

.s_set {
   /* no style as yet */
}

.s_header {
   position: absolute;
   top: 12%;
   left: 0;
   width: 100%;
   height: 8%;
   font-size: 1.2em;
   padding-left: 1em;
   padding-right: 1em;
}

.s_players {
   display: flex;
   height: 100%;
   width: 100%;
   -webkit-justify-content: space-between;
   justify-content: space-between;
}

.s_player {
   height: 100%;
   display: flex;
   -webkit-align-items: center;
   align-items: center;
}

.s_content {
   position: absolute;
   top: 20%;
   left: 0;
   width: 100%;
   height: 80%;
   overflow-y: scroll;
   overflow-x: hidden;
}

.playerone { color: #a55194; }
.playertwo { color: #6b6ecf; }

.statsplayers {
   width: 100%;
   max-width: 500px;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: space-between;
   justify-content: space-between;
}

.statrow {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   -webkit-justify-content: space-between;
   justify-content: space-between;
   margin-bottom: 1em;
}

.statistics { 
   margin: 0;
   padding: 0;
   width: 95%; 
   max-width: 500px;
   min-width: 280px;
}

.statleft {
   margin-left: 1%;
   margin-right: 2%;
   text-align: center;
   width: 22%;
}

.statright {
   margin-left: 2%;
   margin-right: 1%;
   text-align: center;
   width: 22%;
}

.statname {
   text-align: center;
   width: 48%;
}

.statname_chart {
   color: green;
   text-align: center;
   width: 48%;
}

.statsection {
   width: 100%;
   height: auto;
   color: white;
   padding: 2px;
   background-color: #85929E;
   margin-bottom: 1em;
}

/* stroke slider */

#stroke_slider {
   position: absolute;
   z-index: 1000;
   top: 0;
   left: 0;
   height: 100%;
   width: 50%;
   background-color: white;
}

.slideback {
   height: 100%;
   width: 10%;
   background-color: gray;
}

.strokes {
   height: 100%;
   width: 90%;
}

.stroke {
   font-size: 1.5em;
   position: relative;
	border: 1px;
   border-style: solid;
   border-color: black;
   color: #0000FF;
   /* background-color: #BFC9CA; */
   height: 16.67%;
   width: 100%;
}

.forehand {
   font-size: 2em;
   z-index: 10;
   display: block;
   position: absolute;
   width: 50%;
   height: 100%;
   top: 0;
   left: 0;
   opacity: .4;
   background-color: #BFC9CB;
   vertical-align: middle;
}

.backhand {
   font-size: 2em;
   z-index: 10;
   display: block;
   position: absolute;
   width: 50%;
   height: 100%;
   top: 0;
   right: 0;
   opacity: .4;
   text-align: right;
   background-color: #B2BABB;
}

.hand_label {
   height: 100%;
   width: 100%;
   display: flex;
   -webkit-align-items: center;
   align-items: center;
}

/* Modal */

@media(max-width:900px) {
   .modal-content {
      margin: 9% auto;
      width: 90%;
   }
}

.modal {
    display: none;
    flex-direction: column;
    -webkit-flex-direction: column;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    display: flex;
    width: auto;
    margin: 10px;
    padding: 5px;
    flex-direction: column;
    -webkit-flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    background-color: #fefefe;
    border-radius: 5px;
    text-align: center;
    overflow: auto;
}

.modal-menu {
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.modaltext {
    background-color: #fefefe;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
}

#close-modal {
    float: right;
    margin-top: 3px;
    margin-right: 3px;
}

#close-modal:hover,
#close-modal:focus {
    text-decoration: none;
    cursor: pointer;
}

/* misc */

.noselect {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none; 
    opacity: 1;
}

/* universal */

.fault { color: #FF8483; }
.winner { color: #09D806; }
.forced { color: #FFD683; }
.blue { color: #4BA1F6; }
.unforced { color: #FF8483; }
.modeforce { display: none; }

/* viz */

#momentum {
   display: none;
   width: 100%;
   height: 100%;
}

.m_content {
   position: absolute;
   top: 6%;
   left: 0;
   width: 100%;
   height: 90%;
   overflow-y: scroll;
   overflow-x: scroll;
}

#momentumChart {
   height: 100%;
   width: 100%;
}

#pts {
   display: none;
   width: 100vw;
   height: 100vh;
}

#PTSChart {
   height: 100%;
   width: 100%;
   padding-top: 1em;
   display: flex;
   -webkit-justify-content: center;
   justify-content: center;
}

#gametree {
   display: none;
   width: 100vw;
   height: 100vh;
}

#gameTreeChart {
   height: 100%;
   width: 100%;
   padding-top: 1em;
   display: flex;
   -webkit-justify-content: center;
   justify-content: center;
}

#gamefish {
   display: none;
   z-index: 1500;
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgb(0,0,0);
   background-color: rgba(0,0,0,0.4);
}

.gf_menu {
  
   display: flex;
   width: 100%;
   height: auto;
   min-height: 20px;
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;
}

.gf_content {
    display: flex;
    width: 100%;
    height: 90%;
    margin: 10px;
    padding: 5px;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: flex-start;
    align-items: flex-start;
    -webkit-align-items: center;
    background-color: #fefefe;
    border-radius: 5px;
    text-align: center;
}

.gf_players {
   width: 100%;
   height: 10%;
   background-color: white;
}

.gf_player {
   width: 50%;
   text-align: center;
   font-size: 1.5em;
}

.gf_chart {
   width: 100%;
   height: 85%;
   background-color: white;
   overflow-y: scroll;
}

#gameFishChart {
   width: 100%;
   height: 100%;
}

/* slider buttons  */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.img_recycle { background-color: red; }
.img_export { background-color: blue; }
.recycle_icon, .export_icon {
  width: 25px;
  height: 25px;
}
