.swipe-panel {
    position: relative;
    background-color: #fff;
    overflow: hidden;
    padding: 0;
    margin-top: .93759rem
}
.swipe-panel.no-top { margin-top: 0 }
.swipe_img {
   position: absolute;
   top: 0;
   height: 100%;
   width: 60px;
   text-align: center;
   display: flex;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-align-items: center;
   align-items: center;
}
.swipe-header, .swipe-footer {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
    position: relative;
    height: 2.75027rem;
    line-height: 2.75027rem;
    font-size: .62506rem;
    color: #999;
    text-align: center
}
